body,
html {
  font-family: poppins, sans-serif;
}
button {
  background: red;
  padding: 15px;
  color: white;
  font-family: poppins, sans-serif;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  margin: 16px;
}
